<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>EJS模板</title>
</head>

<body>
    <h1>EJS模板引擎</h1>
    <p>这是用ejs实现的一个简单模板，更多使用请参考:<a href='https://ejs.bootcss.com/'>Ejs使用教程</a></p>
    <p>这里是姓名: <span><%= name %></span></p>
    <p>这里是性别: <span><%= sex %></span></p>
 
</body>
<style type="text/css">
body{
    margin: 0 auto;
          padding: 15px;     
          max-width: 840px;
          background-color: white;       
}
    h1 {
        text-align: center;
    }

    p {
        font-size: 20px;
    }

    span {
        font-size: 25px;
        color: red;
    }
</style>


</html>